version: '3.8'

services:
  app:
    build: .
    build: .
    restart: always
    command: sh -c "npm run migrate up && npm start"
    environment:
      HOST: 0.0.0.0
      NODE_ENV: production
      PORT: 5000
      PGHOST: postgres
      PGUSER: ${PGUSER}
      PGDATABASE: ${PGDATABASE}
      PGPASSWORD: ${PGPASSWORD}
      PGPORT: 5432
      ACCESS_TOKEN_KEY: ${ACCESS_TOKEN_KEY}
      REFRESH_TOKEN_KEY: ${REFRESH_TOKEN_KEY}
      ACCCESS_TOKEN_AGE: ${ACCCESS_TOKEN_AGE}
    ports:
      - "5000:5000"
    depends_on:
      - postgres
    networks:
      - app-network

  postgres:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: ${PGUSER}
      POSTGRES_PASSWORD: ${PGPASSWORD}
      POSTGRES_DB: ${PGDATABASE}
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data
    networks:
      - app-network

  nginx:
    build:
      context: ./nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - app
    networks:
      - app-network


  tunnel:
    image: cloudflare/cloudflared:latest
    restart: always
    command: tunnel --url http://nginx:80

    networks:
      - app-network

volumes:
  postgres_data_prod:

networks:
  app-network:
    driver: bridge
